<% if @restaurant.errors.any? %>
	<div class="errors">
		<h2> <%= pluralize(@restaurant.errors.count,"error") %> prohibited this resraurant</h2>
		
		<ul>
			<% @restaurant.errors.full_messages.each do |message|%>
			<li><%=message%></li>
			<%end%>
		</ul>
	</div>
<%end%>

<%= form_for @restaurant, :html => { :multipart => true } do |form| %>

<%= form.label      :name                             %>
<%= form.text_field :name, placeholder: 'Name'        %>

<%= form.label      :cuisine                          %>
<%= form.text_field :cuisine, placeholder: 'Cuisine'  %>

<%= form.label      :description  %>
<%= form.text_area  :description  %>

<%= form.label      :image                %>
<%= form.file_field :image, class: 'link' %>

<%= form.submit                   %>

<% end %>