<% if @restaurant.errors.any? %>
	<div class="errors">
		<h2> <%= pluralize(@restaurant.errors.count,"error") %> prohibited this resraurant</h2>
		
		<ul>
			<% @restaurant.errors.full_messages.each do |message|%>
			<li><%=message%></li>
			<%end%>
		</ul>
	</div>
<%end%>

<%= form_for @restaurant do |form| %>

<%= form.label      :name          %>
<%= form.text_field :name          %>

<%= form.label      :cuisine       %>
<%= form.text_field :cuisine       %>

<%= form.label      :description   %>
<%= form.text_area  :description   %>

<%= form.submit                    %>
<%end%>