<% if @restaurants.any? %>
	
	<% @restaurants.each do | restaurant | %>
	
	<section>
		<h2> <%= restaurant.name    %> </h2>
		<h6> <%= restaurant.cuisine %> </h6>

		<p>  <%= restaurant.description%></p>
		
		<%= link_to "Edit   #{restaurant.name}" , edit_restaurant_path(restaurant)             %>
		<%= link_to "Delete #{restaurant.name}",  restaurant_path(restaurant), method: :delete %>

		<%= link_to "Show   #{restaurant.name}",  restaurant_path(restaurant) %>
		<%= link_to "Review #{restaurant.name}",  new_restaurant_review_path(restaurant) %>

		<ul>

			<% restaurant.reviews.each do | review | %>

			<li> <%= "#{review.thoughts} (#{review.rating})"%> </li>

		</ul>

			<% end %>
			<span> <%= "Average: #{star_rating(restaurant.average_rating)}" %></span>
	
	</section>
	<% end %>

<% else %>

	<h3>There is no restaurants yet</h3>

<% end %>


<%= link_to 'Add Restaurant', new_restaurant_path %>

<!-- bin/rails g controller reviews -->