<% if @restaurants.any? %>
	
	<% @restaurants.each do | restaurant | %>
	
	<section>
		<h2> <%= restaurant.name %>    </h2>
		<h5> <%= restaurant.cuisine%>  </h5>

		<p> <%= restaurant.description %> </p>

		<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>

	</section>

	<%end%>

<% else %>

  <h4>There is no restaurants yet</h4>

<% end %>

<%= link_to 'Add Restaurant', new_restaurant_path %>