<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">

  <title>Yelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= notice %>

	<header>
		<%= image_tag('logo.png') %>
		
		<% if user_signed_in? %>
		  <%= link_to 'Sign Out',  destroy_user_session_path, method: :delete  , class: 'link' %>
		<% end %>

		<% if request.fullpath != "/users/sign_up" && request.fullpath != "/users/sign_in" && !user_signed_in? %>

			<%= link_to 'Sign In',  new_user_session_path,       class: 'link' %>
		  <%= link_to 'Sign Up',  new_user_registration_path,  class: 'link' %>
		  
		  <%= link_to 'Home',  restaurants_path  ,             class: 'link' %>
		 <%end%>
	</header>



	<%= yield %>

	<%= image_tag('happy_footer.png') %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
