<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">

  <title>Yelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= notice %>

<%= image_tag('logo.png') %>

	<% if user_signed_in? %>
	  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
	<% end %>
	
	<% if request.fullpath != "/users/sign_up" && request.fullpath != "/users/sign_in" && !user_signed_in? %>

		<%= link_to 'Sign In', new_user_session_path      %>
	  <%= link_to 'Sign Up', new_user_registration_path %>
	<%end%>

	<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
