<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<link rel="shortcut icon" href="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/118ff475a341/ico/favicon.ico">

  <title>Yelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= notice %>

	<header>
		<section>
			<%= image_tag('logo.png') %>
			
			<div>
				<% if user_signed_in? %>
				  <%= link_to 'Sign Out',     destroy_user_session_path, method: :delete  , class: 'link' %>
				  <%= link_to 'Edit Account', edit_user_registration_path, class: 'link' %>
				<% end %>

				<% if request.fullpath != "/users/sign_up" && request.fullpath != "/users/sign_in" && !user_signed_in? %>

					<%= link_to 'Sign In',  new_user_session_path,       class: 'link' %>
				  <%= link_to 'Sign Up',  new_user_registration_path,  class: 'link' %>
				  
				 <%end%>
				  <%= link_to 'Home',  restaurants_path  ,             class: 'link' %>
			</div>
		 </section>
	</header>

	<div class="wrapper">
		<%= yield %>
	</div>
	
	<footer>
		<%= image_tag('happy_footer.png') %>
	</footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
